@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.process-section {
  width: 100%;
  height: auto;
  position: relative;
}

.process-section .process-content {
  width: 75%;
  margin: auto;
  height: auto;
  padding: 120px 0px 180px 0px;
}

.process-section .process-content .title-decor {
  text-align: center;
  display: block;
  font-size: 20px;
  color: #ea581b;
  font-weight: 600;
}

.process-section .process-content h3 {
  text-align: center;
  display: block;
  font-size: 36px;
  color: #313131;
  font-weight: 600;
}

.process-section .process-content .process-container {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.process-section .process-content .process-container .process-list {
  width: 35%;
  height: auto;
}

.process-section .process-content .process-container .process-list .process-item {
  width: 100%;
  height: auto;
  border-right: 3px solid #d9d9d9;
  padding: 15px 0px;
  cursor: pointer;
}

.process-section .process-content .process-container .process-list .process-item.selected {
  border-right: 3px solid #ea581b;
}

.process-section .process-content .process-container .process-list .process-item.selected .icon {
  background-color: #ea581b;
  color: #ffffff;
}

.process-section .process-content .process-container .process-list .process-item .icon {
  width: 70px;
  height: 70px;
  background-color: #d9d9d9;
  border-radius: 100%;
  font-size: 30px;
  display: inline-block;
  text-align: center;
  line-height: 70px;
}

.process-section .process-content .process-container .process-list .process-item .text {
  color: #616161;
  margin-left: 45px;
  font-weight: 500;
  font-size: 24px;
}

.process-section .process-content .process-container .process-list .process-item.selected .text {
  color: #ea581b;
}

.process-section .process-content .process-container .process-details {
  width: 65%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.process-section .process-content .process-container .process-details .text-details {
  width: 65%;
  padding: 0px 75px;
}

.process-section .process-content .process-container .process-details .image-details {
  width: 35%;
}

.process-section .process-content .process-container .process-details .text-details p {
  font-size: 20px;
  line-height: 24px;
  color: #616161;
  font-weight: 500;
}

.process-section .process-content .process-container .process-details .image-details img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .process-section {
    width: 100%;
    height: auto;
    position: relative;
  }

  .process-section .process-content {
    width: 90%;
    padding: 120px 0px 0px 0px;
  }

  .process-section .process-content .title-decor {
    text-align: center;
    display: block;
    font-size: 18px;
    color: #ea581b;
    font-weight: 600;
  }

  .process-section .process-content h3 {
    text-align: center;
    display: block;
    font-size: 28px;
    line-height: 34px;
    color: #313131;
    font-weight: 600;
  }

  .process-section .process-content .process-container {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .process-section .process-content .process-container .process-list {
    width: 100%;
    height: auto;
    margin-bottom: 60px;
  }

  .process-section .process-content .process-container .process-list .process-item {
    width: 100%;
    height: auto;
    border-right: 3px solid #d9d9d9;
    padding: 15px 0px;
    cursor: pointer;
  }

  .process-section .process-content .process-container .process-list .process-item.selected {
    border-right: 3px solid #ea581b;
  }

  .process-section .process-content .process-container .process-list .process-item.selected .icon {
    background-color: #ea581b;
    color: #ffffff;
  }

  .process-section .process-content .process-container .process-list .process-item .icon {
    width: 60px;
    height: 60px;
    background-color: #d9d9d9;
    border-radius: 100%;
    font-size: 30px;
    display: inline-block;
    text-align: center;
    line-height: 60px;
  }

  .process-section .process-content .process-container .process-list .process-item .text {
    color: #616161;
    margin-left: 45px;
    font-weight: 500;
    font-size: 20px;
  }

  .process-section .process-content .process-container .process-list .process-item.selected .text {
    color: #ea581b;
  }

  .process-section .process-content .process-container .process-details {
    width: 100%;
    height: auto;
    flex-direction: column-reverse;
  }

  .process-section .process-content .process-container .process-details .text-details {
    width: 100%;
    padding: 60px 0px;
  }

  .process-section .process-content .process-container .process-details .image-details {
    width: 100%;
  }

  .process-section .process-content .process-container .process-details .text-details p {
    font-size: 19px;
    line-height: 24px;
    color: #616161;
    font-weight: 500;
  }

  .process-section .process-content .process-container .process-details .image-details img {
    display: block;
    max-width: 75%;
    height: auto;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .process-section {
    width: 100%;
    height: auto;
    position: relative;
  }

  .process-section .process-content {
    width: 90%;
    padding: 120px 0px 0px 0px;
  }

  .process-section .process-content .title-decor {
    text-align: center;
    display: block;
    font-size: 18px;
    color: #ea581b;
    font-weight: 600;
  }

  .process-section .process-content h3 {
    text-align: center;
    display: block;
    font-size: 28px;
    line-height: 34px;
    color: #313131;
    font-weight: 600;
  }

  .process-section .process-content .process-container {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .process-section .process-content .process-container .process-list {
    width: 100%;
    height: auto;
    margin-bottom: 60px;
  }

  .process-section .process-content .process-container .process-list .process-item {
    width: 100%;
    height: auto;
    border-right: 3px solid #d9d9d9;
    padding: 15px 0px;
    cursor: pointer;
  }

  .process-section .process-content .process-container .process-list .process-item.selected {
    border-right: 3px solid #ea581b;
  }

  .process-section .process-content .process-container .process-list .process-item.selected .icon {
    background-color: #ea581b;
    color: #ffffff;
  }

  .process-section .process-content .process-container .process-list .process-item .icon {
    width: 60px;
    height: 60px;
    background-color: #d9d9d9;
    border-radius: 100%;
    font-size: 30px;
    display: inline-block;
    text-align: center;
    line-height: 60px;
  }

  .process-section .process-content .process-container .process-list .process-item .text {
    color: #616161;
    margin-left: 45px;
    font-weight: 500;
    font-size: 20px;
  }

  .process-section .process-content .process-container .process-list .process-item.selected .text {
    color: #ea581b;
  }

  .process-section .process-content .process-container .process-details {
    width: 100%;
    height: auto;
    flex-direction: column-reverse;
  }

  .process-section .process-content .process-container .process-details .text-details {
    width: 100%;
    padding: 45px 0px;
  }

  .process-section .process-content .process-container .process-details .image-details {
    width: 100%;
  }

  .process-section .process-content .process-container .process-details .text-details p {
    font-size: 20px;
    line-height: 24px;
    color: #616161;
    font-weight: 500;
  }

  .process-section .process-content .process-container .process-details .image-details img {
    display: block;
    max-width: 50% !important;
    height: auto;
    margin: auto;
  }
}

@media only screen and (min-width: 1025px) {
  .process-section .process-content {
    width: 80%;
  }

  .process-section .process-content .process-container .process-details .text-details p {
    font-size: 18px;
    line-height: 18px;
  }
}

@media only screen and (min-width: 1600px) {
  .process-section .process-content {
    width: 75%;
  }

  .process-section .process-content .process-container .process-details .text-details p {
    font-size: 20px;
    line-height: 20px;
  }
}