@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.product-section {
    width: 100%;
    height: auto;
    position: relative;
    background-color: #FFF4EF;
}

.product-section .product-content {
    width: 75%;
    margin: auto;
    height: auto;
    padding: 90px 0px;
}

.product-section .product-content .title-decor {
    text-align: center;
    display: block;
    font-size: 20px;
    color: #EA581B;
    font-weight: 600;
}

.product-section .product-content h3{
    text-align: center;
    display: block;
    font-size: 40px;
    color: #313131;
    font-weight: 600;
}

.product-section .product-content .product-list {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 35px;
    align-items: center;
    flex-wrap: wrap;
}

.product-section .product-content .product-list .product-item {
   width: 450px;
   height: auto;
   padding: 30px;
   background-color: #F9FAFC;
   box-shadow: 0 0 8px #EEEEEE;
   border-radius: 16px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.product-section .product-content .product-list .product-item .card-icon {
    width: 25%;
}

.product-section .product-content .product-list .product-item .card-icon .icon {
    width: 80px;
    height: 80px;
    background-color: #EA581B;
    border-radius: 100%;
    text-align: center;
    line-height: 80px;
    font-size: 40px;
    font-weight: bolder;
    display: block;
    color: #ffffff;
}

.product-section .product-content .product-list .product-item .card-text {
    width: 75%;
}

.product-section .product-content .product-list .product-item .card-text h4 {
    font-size: 20px;
}

.product-section .product-content .product-list .product-item .card-text p {
    font-size: 16px;
}

.product-section .square06 {
    display: block;
    position: absolute;
    top: -120px;
    right: 0;
}

.product-section .square07 {
    display: block;
    position: absolute;
    bottom: -150px;
    left: 0;
    z-index: 1;
}