footer {
  background-color: #f9fafc;
  border-top: 1px solid #cccccc;
}

.footer-main {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 60px 0px;
}

.footer-main .brand-container {
  width: 35%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-main .brand-container img {
  max-width: 40%;
  height: auto;
  display: block;
  margin: auto;
}

.footer-main .brand-container ul {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.footer-main .brand-container ul li {
  margin: 0px 10px;
  list-style: none;
}

.footer-main .brand-container ul li a {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #d7d7d7;
  background-color: #ffffff;
  display: block;
  text-align: center;
  line-height: 38px;
  color: #ea581b;
  font-weight: bolder;
  font-size: 20px;
}

.footer-main .brand-container ul li a:hover {
  background-color: #ea581b;
  color: #ffffff;
  border: 1px solid #ea581b;
}

.footer-main .rowspan {
  width: 65%;
  display: flex;
  column-gap: 120px;
  padding-left: 120px;
}

.footer-main .rowspan .colspan {
  width: auto;
}

.footer-main .rowspan .colspan h5 {
  font-size: 16px;
  text-transform: uppercase;
}

.footer-main .rowspan .colspan ul {
  width: 100%;
  margin-top: 30px;
}

.footer-main .rowspan .colspan ul li {
  list-style: none;
  margin-bottom: 20px;
}

.footer-main .rowspan .colspan ul li a {
  text-decoration: none;
  color: #616161;
  font-weight: 400;
}

.footer-main .rowspan .colspan ul li a:hover {
  color: #ea581b;
}

.footer-below {
  width: 100%;
  padding: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  font-size: 16px;
}

.footer-below a {
  color: #ffffff;
  text-decoration: none;
}

.container-fixed {
  background-color: #ea581b;
  border-radius: 100%;
  width: 75px;
  height: 75px;
  position: fixed;
  bottom: 75px;
  right: 75px;
  text-align: center;
  padding-top: 15px;
  opacity: 0;
  z-index: 10;
  transition: all ease-in-out 300ms;
}

.container-fixed.show {
  opacity: 1;
  transition: all ease-in-out 300ms;
}

@media only screen and (max-width: 600px) {
  footer {
    background-color: #f9fafc;
  }

  .footer-main {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px 0px;
  }

  .footer-main .brand-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 60px;
  }

  .footer-main .brand-container img {
    max-width: 65%;
    height: auto;
    display: block;
    margin: auto;
  }

  .footer-main .brand-container ul {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .footer-main .brand-container ul li {
    margin: 0px 15px;
    list-style: none;
  }

  .footer-main .brand-container ul li a {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    display: block;
    text-align: center;
    line-height: 38px;
    color: #ea581b;
    font-weight: bolder;
    font-size: 20px;
  }

  .footer-main .brand-container ul li a:hover {
    background-color: #ea581b;
    color: #ffffff;
    border: 1px solid #ea581b;
  }

  .footer-main .rowspan {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
  }

  .footer-main .rowspan .colspan {
    width: 100%;
  }

  .footer-main .rowspan .colspan h5 {
    font-size: 16px;
    text-transform: uppercase;
  }

  .footer-main .rowspan .colspan ul {
    width: 100%;
    margin-top: 20px;
  }

  .footer-main .rowspan .colspan ul li {
    list-style: none;
    margin-bottom: 20px;
  }

  .footer-main .rowspan .colspan ul li a {
    text-decoration: none;
    color: #616161;
    font-weight: 400;
  }

  .footer-below {
    font-size: 12px;
  }

  .container-fixed {
    bottom: 100px;
    right: 30px;
    width: 55px;
    height: 55px;
  }

  .container-fixed img {
    max-width: 25px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  footer {
    background-color: #f9fafc;
  }

  .footer-main {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px 0px;
  }

  .footer-main .brand-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
  }

  .footer-main .brand-container img {
    max-width: 45%;
    height: auto;
    display: block;
    margin: auto;
  }

  .footer-main .brand-container ul {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .footer-main .brand-container ul li {
    margin: 0px 20px;
    list-style: none;
  }

  .footer-main .brand-container ul li a {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    display: block;
    text-align: center;
    line-height: 48px;
    color: #ea581b;
    font-weight: bolder;
    font-size: 25px;
  }

  .footer-main .brand-container ul li a:hover {
    background-color: #ea581b;
    color: #ffffff;
    border: 1px solid #ea581b;
  }

  .footer-main .rowspan {
    width: 100%;
    display: flex;
    column-gap: 100px;
    padding-left: 0px;
  }

  .footer-main .rowspan .colspan {
    width: auto;
  }

  .footer-main .rowspan .colspan h5 {
    font-size: 16px;
    text-transform: uppercase;
  }

  .footer-main .rowspan .colspan ul {
    width: 100%;
    margin-top: 30px;
  }

  .footer-main .rowspan .colspan ul li {
    list-style: none;
    margin-bottom: 20px;
  }

  .footer-main .rowspan .colspan ul li a {
    text-decoration: none;
    color: #616161;
    font-weight: 400;
  }

  .footer-main .rowspan .colspan ul li a:hover {
    color: #ea581b;
  }
}

@media only screen and (min-width: 1025px) {
  .footer-main .rowspan {
    width: 65%;
    display: flex;
    column-gap: 60px;
    padding-left: 60px;
  }
}

@media only screen and (min-width: 1600px) {
  .footer-main .rowspan {
    width: 65%;
    display: flex;
    column-gap: 120px;
    padding-left: 120px;
  }
}