.allies-section {
  padding: 15px 0px;
  background-color: #000000;
}

.allies-slider {
  margin: auto;
  width: 80%;
}

.allie-slide {
  width: 20%;
  height: 100%;
  outline: none;
  border: none;
}

.allie-slide a {
  display: flex;
  margin: 0px 30px;
}

.slick-track {
  display: flex;
  align-items: center;
}

.allie-slide a img {
  display: block;
  max-width: 65%;
  height: auto;
  margin: auto;
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .allies-slider {
    margin: 0px auto;
    width: 90%;
  }
}

@media only screen and (min-width: 1025px) {
  .allies-slider {
    margin: 0px auto;
    width: 85%;
  }
}

@media only screen and (min-width: 1600px) {
  .allies-slider {
    margin: 0px auto;
    width: 80%;
  }
}