@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.service-section {
  width: 100%;
  height: auto;
  position: relative;
  background-color: #eeeeee;
  border-top: 1px solid #cccccc;
}

.service-section .service-content {
  width: 75%;
  margin: auto;
  height: auto;
  padding: 120px 0px;
  position: relative;
}

.service-section .service-content h3 {
  text-align: center;
  display: block;
  font-size: 36px;
  color: #313131;
  font-weight: 600;
}

.col-service {
  padding: 0px 20px;
}

.service-section .service-content .service-list {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.service-section:hover .service-content .slick-btn {
  opacity: 1;
}

.service-section .service-content .slick-btn {
  margin: 0px 25px;
  width: 55px;
  height: 55px;
  font-size: 25px;
  border-radius: 100%;
  outline: none;
  background-color: #ffffff;
  color: #000000;
  border: none;
  position: absolute;
  top: 52.5%;
  z-index: 4;
  opacity: 0;
  cursor: pointer;
}

.prev-btn {
  left: -120px;
}

.next-btn {
  right: -120px;
}

.service-section .service-content .slick-btn:hover {
  background-color: #ea581b;
  color: #ffffff;
}

.service-section .service-content .service-list .service-item {
  width: 100%;
  height: 350px;
  background-color: #f9fafc;
  box-shadow: 0 0 8px #eeeeee;
  border-radius: 5px;
  position: relative;
}

.service-section .service-content .service-list .service-item a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.service-section .service-content .service-list .service-item .enabled {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px 15px;
  background-color: #ea581b;
  color: #ffffff;
  font-size: 11px;
  border-radius: 0px 5px 0px 5px;
  font-weight: 600;
}

.card.inactive {
  opacity: 0.5;
}

.service-section .service-content .service-list .service-item .card-icon {
  width: 100%;
  padding: 30px 0px 15px;
}

.service-section .service-content .service-list .service-item .card-icon .icon {
  width: 120px;
  height: 120px;
  display: block;
  margin: auto !important;
  background-color: #ea581b;
  border-radius: 100%;
  text-align: center;
  line-height: 120px;
  font-size: 60px;
  font-weight: bolder;
  color: #ffffff;
}

.service-section .service-content .service-list .service-item .card-text {
  width: 100%;
  padding: 0px 30px 30px 30px;
}

.service-section .service-content .service-list .service-item .card-text h4 {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.service-section .service-content .service-list .service-item .card-text p {
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
  color: #313131;
}

@media only screen and (max-width: 600px) {
  .service-section {
    width: 100%;
    height: auto;
    position: relative;
  }

  .service-section .service-content {
    width: 98.5% !important;
    margin: auto;
    height: auto;
    padding: 120px 0px 60px 0px;
  }

  .service-section .service-content h3 {
    text-align: center;
    display: block;
    font-size: 28px;
    line-height: 34px;
    color: #313131;
    font-weight: 600;
  }

  .service-section .service-content .slick-btn {
    display: none;
  }

  .service-section .service-content .service-list {
    margin-top: 30px;
    display: flex;
  }

  .service-section .service-content .service-list .service-item {
    width: 100%;
    height: 350px;
  }

  .service-section .service-content .service-list .service-item .card-icon {
    width: 100%;
  }

  .service-section .service-content .service-list .service-item .card-icon .icon {
    width: 80px;
    height: 80px;
    background-color: #ea581b;
    border-radius: 100%;
    text-align: center;
    line-height: 80px;
    font-size: 40px;
    font-weight: bolder;
    display: block;
    color: #ffffff;
  }

  .service-section .service-content .service-list .service-item .card-text {
    width: 100%;
    padding-left: 25px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .service-section {
    width: 100%;
    height: auto;
    position: relative;
  }

  .service-section .service-content {
    width: 95%;
    margin: auto;
    height: auto;
    padding: 120px 0px 60px;
  }

  .service-section .service-content .title-decor {
    text-align: center;
    display: block;
    font-size: 20px;
    color: #ea581b;
    font-weight: 600;
  }

  .service-section .service-content h3 {
    text-align: center;
    display: block;
    font-size: 28px;
    line-height: 28px;
    color: #313131;
    font-weight: 600;
  }

  .service-section .service-content .service-list {
    margin-top: 30px;
    display: flex;
  }

  .service-section .service-content .service-list .service-item {
    width: 100%;
  }

  .service-section .service-content .service-list .service-item .card-icon {
    width: 100%;
  }

  .service-section .service-content .service-list .service-item .card-icon .icon {
    width: 80px;
    height: 80px;
    background-color: #ea581b;
    border-radius: 100%;
    text-align: center;
    line-height: 80px;
    font-size: 40px;
    font-weight: bolder;
    display: block;
    color: #ffffff;
  }

  .service-section .service-content .service-list .service-item .card-text {
    width: 100%;
  }
}

@media only screen and (min-width: 1025px) {
  .service-section .service-content {
    width: 80%;
  }

  .service-section .service-content .service-list .service-item {
    width: 100%;
    height: 350px;
  }
}

@media only screen and (min-width: 1600px) {
  .service-section .service-content {
    width: 75%;
  }

  .service-section .service-content .service-list .service-item {
    width: 100%;
    height: 340px;
  }
}